In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aijay\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aijay\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aijay\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aijay\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\aijay\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\aijay\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
data = {
    'CHN':{'COUNTRY':'china','POP':'1_398.76','AREA':'9_546.96'},
    'IND':{'COUNTRY':'india','POP':'1_352.16','AREA':'3_286.96'},
    'USA':{'COUNTRY':'us','POP':'396.74','AREA':'9_833.52'},
}

In [4]:
cloumns =('COUNTRY','POP','AREA')
print(data)
print(cloumns)

{'CHN': {'COUNTRY': 'china', 'POP': '1_398.76', 'AREA': '9_546.96'}, 'IND': {'COUNTRY': 'india', 'POP': '1_352.16', 'AREA': '3_286.96'}, 'USA': {'COUNTRY': 'us', 'POP': '396.74', 'AREA': '9_833.52'}}
('COUNTRY', 'POP', 'AREA')

In [7]:
import pandas as pd
df = pd.DataFrame(data=data).T
print(df)
df=pd.DataFrame(data=data, index=cloumns).T
df

    COUNTRY       POP      AREA
CHN   china  1_398.76  9_546.96
IND   india  1_352.16  3_286.96
USA      us    396.74  9_833.52

    COUNTRY       POP      AREA
CHN   china  1_398.76  9_546.96
IND   india  1_352.16  3_286.96
USA      us    396.74  9_833.52

In [9]:
df.to_csv('data.csv')
df = pd.read_csv('data.csv', index_col=0)
df

    COUNTRY       POP      AREA
CHN   china  1_398.76  9_546.96
IND   india  1_352.16  3_286.96
USA      us    396.74  9_833.52

In [11]:

df.to_excel('data.xlsx')
df = pd.read_excel('data.xlsx', index_col=0)
df

    COUNTRY       POP      AREA
CHN   china  1_398.76  9_546.96
IND   india  1_352.16  3_286.96
USA      us    396.74  9_833.52