In [3]:
data = {
    'x': [45,34,44,36,47],
    'y': [31,38,28,33,30],
    'z': [10,15,16,20,12]
}

In [4]:
import pandas as pd 
df = pd.DataFrame(data)
print("DataFrame is :")
df

DataFrame is :

    x   y   z
0  45  31  10
1  34  38  15
2  44  28  16
3  36  33  20
4  47  30  12

In [5]:
matx = df.corr()
matx

          x         y         z
x  1.000000 -0.848208 -0.667176
y -0.848208  1.000000  0.204789
z -0.667176  0.204789  1.000000